*{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: inline;
    background-color: pink;
    width: 100%;
    padding: 45px 50px;
    top: 0;
    position: fixed;
}

h2 {
    float: right;
}

body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.black-text {
    color: black;
}

html, body {
    height: 100%;
}

footer {
    bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 23px 50px;
    text-align: center;
}

/* footer a{
    color: black;
} */

.title {
    font-size: 40px;
    letter-spacing: 0.1em;
    color: pink;
    padding-top: 50px;
}

#description {
    margin: 5%;
    line-height: 30px;
    text-transform: bold;
}

#main-page {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
}

#styled-button {
    padding: 10px 30px;
    margin-top: 5%;
    background-color: gray;
    color: white;
    font-size: 18px;
    border-radius: 3px;
}

#answer-choices button{
    display: block;
    margin: auto;
    margin-bottom: 2%;
    padding: 10px 20px;
    background-color: gray;
    color: white;
}

#answer-choices p {
    text-align: center;
    font-size: 20px;
}

#submitInitialsButton {
    margin-left: 1%;
    background-color: gray;
    color: white;
    font-size: 22px;
    border-radius: 3px;
}

#clearButton {
    display: block;
    margin: auto;
    margin-top: 3%;
    font-size: 20px;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}

#input-text {
    margin-top: 5%;
    max-width: 20%;
}

.high-scores-title {
    text-align: center;
    margin-top: 7%;
    font-size: 35px;
    letter-spacing: .2em;
    margin-bottom: 10%;
}

.results-title {
    font-size: 22px;
    line-height: 50px;
}

.high-scores li {
    margin: 3%;
    font-size: 20px;
}

.time {
    width: 30%; 
    margin: 0px auto;
}

#answer-choices button:hover,
#styled-button:hover,
#submitInitialsButton:hover,
#clearButton:hover {
    background-color: #ffffff;
    color: pink;
    border-color: pink;
}